matplotlib==3.5.3
numpy==1.23.5
PennyLane==0.30.0
Pillow==9.4.0
PySimpleGUI==4.60.5
PySimpleGUI==4.60.5
scikit_learn==1.2.2
seaborn==0.12.2
streamlit==1.25.0
streamlit_image_coordinates==0.1.6
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
